<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h3>USER DATA</h3>

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Avathar</th>
                    <th scope="col">Email-Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of userData.data">
                    <td>{{i.id}}</td>
                    <td><img src="{{i.avatar}}" alt=""> </td>
                    <td>{{i.email}}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.last_name}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>


        </div>
    </div>
</div>